@use 'variables' as *;

/* NAV-BAR */
/* Start nav-bar */
.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    border-bottom: 1px solid $neutral-5;

    &__content{

        display: flex;
        align-items: center;
        width: 50%;
        height: fit-content;
    }

    &__mobile-menu{

        display: none;
    }

    & ul{

        display: flex; 
    }
    
    & li{

        display: flex;
        align-items: center;
        list-style-type: none;
        margin : 0 1rem;
        
        & a{

            text-decoration: none;
            color: $neutral-2;
            position: relative;
            padding: 2.875rem 0;

            &:hover{

                color: black;

                &::before{

                    content:"";
                    position: absolute;
                    background-color: $primary-color;
                    height: 0.188rem;
                    width: 100%;
                    bottom: 0;
                }
            }
        }
    }

    &__end{

        display: flex;
        align-items: center;

        &__cart{

            cursor: default;
            position: relative;

            & img{

                cursor: pointer;

                &:hover{

                    filter:contrast(30);
                }
            }

            & span{

                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 1.063rem;
                left: 0.563rem;
                width: 1.063rem;
                height: 0.75rem;
                border-radius: 0.5rem;
                background-color: $primary-color;
                font-size: 0.625rem;
                color: $white;
                visibility: hidden;
            }
        }
        
        &__avatar{

            cursor: default;

            & img { 

                width: 3.125rem;
                margin: 0.25rem;
                margin-left: 2.875rem;
                border: 3px transparent solid;
                cursor: pointer;
                
                &:hover{

                    border: 3px $primary-color solid;
                    border-radius: 3.125rem;  
                }
            }
        }
    }
}

/* End nav-bar */
/* Start cart menu toggle */

.cart-menu{

    position:absolute;
    width: 22.5rem;
    height: 16rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 1px 15px 26px -7px #878787; 
    box-shadow: 1px 15px 26px -7px #878787;
    background-color: $white;
    right: -3%;
    top: 5.313rem;
    z-index: 2;
    visibility: hidden;

    &.active{

        visibility: visible;
    }

    &__content0{

        min-height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title{

        font-weight: 400;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        margin-bottom: 0;
        border-bottom: 1px solid $neutral-5;
    }

    &__txt{

        color: $neutral-2;
        font-weight: 200;

        &.hidden{

            display: none;
        }
    }

   
    &__content{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 11.75rem;

        &.hidden{

            display: none;
        }

        // With items in cart

        &__active{

            display: flex;
            flex-direction: row;
            margin-bottom: 1.5rem;
            width: 19.5rem;
            height: 3.25rem;

          
            &-img{

            width: 3.125rem;
            height: 3.125rem;
            border-radius: 0.25rem;
            overflow: hidden;
            
                & img{

                    object-fit: cover;
                    width: 100%;
                }
            }
           
            &-item{

                font-size: 0.875rem;
                color: $neutral-2;
                margin-left: 1rem; 
                margin-right: 2.188rem; 
                
            }

            &-details{

                display: flex;
                gap: 0.6rem;
                line-height: 2.1rem;

                &-total{

                    font-weight: 700;
                    color: $black;
                }
            }

            &-delete{

                width: 0.875rem;
                
                &:hover{

                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
  
        &__active-btn{

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $primary-color;
            color: $white;
            
            width: 19.5rem;
            height: 3.5rem;
            border-radius: 0.625rem;

            cursor: pointer;

            &:hover{

            opacity: 0.70;
            transition: all 0.2s;
            }
        }
    }

}

/* End cart menu toggle */