@use 'variables' as *;

* ::after ::before{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
    font-family: $primary-font;
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;  

    touch-action: manipulation;
}

.container{

    position: relative;
    margin: 0 10.313rem 8.25rem;
    width: 80%;
    max-width: 1440px;
    height: 100vh;
}

main{

    width: 80%;
    height: auto;
    margin: auto;
}
