/* MOBILE BREAKPOINT */
* ::after ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-family: "Kumbh Sans", Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin: 0;
}

.container {
  position: relative;
  margin: 1.75rem 10.313rem 8.25rem;
  width: 1110px;
}

/* NAV-BAR */
/* Start nav-bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  padding-bottom: 1.675rem;
  border-bottom: 1px solid hsla(220deg, 14%, 75%, 0.3);
}
.nav__content {
  display: flex;
  align-items: center;
  width: 50%;
  height: fit-content;
}
.nav__mobile-menu {
  display: none;
}
.nav ul {
  display: flex;
}
.nav li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 1rem;
}
.nav li a {
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
  position: relative;
  padding: 42px 0px;
}
.nav li a:hover {
  color: black;
}
.nav li a:hover::before {
  content: "";
  position: absolute;
  background-color: hsl(26deg, 100%, 55%);
  height: 3px;
  width: 100%;
  bottom: 0;
}
.nav__end {
  display: flex;
  align-items: center;
}
.nav__end__cart {
  cursor: default;
  position: relative;
}
.nav__end__cart img {
  cursor: pointer;
}
.nav__end__cart img:hover {
  filter: contrast(30);
}
.nav__end__cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 17px;
  left: 9px;
  width: 17px;
  height: 12px;
  border-radius: 8px;
  background-color: hsl(26deg, 100%, 55%);
  font-size: 10px;
  color: hsl(0deg, 0%, 100%);
  visibility: hidden;
}
.nav__end__avatar {
  cursor: default;
}
.nav__end__avatar img {
  width: 50px;
  margin: 4px;
  margin-left: 46px;
  border: 3px transparent solid;
  cursor: pointer;
}
.nav__end__avatar img:hover {
  border: 3px hsl(26deg, 100%, 55%) solid;
  border-radius: 50px;
}

/* End nav-bar */
/* Start cart menu toggle */
.cart-menu {
  position: absolute;
  width: 360px;
  height: 256px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 15px 26px -7px #878787;
  box-shadow: 1px 15px 26px -7px #878787;
  background-color: hsl(0deg, 0%, 100%);
  left: 820px;
  top: 60px;
  visibility: hidden;
}
.cart-menu.active {
  visibility: visible;
}
.cart-menu__content0 {
  min-height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-menu__title {
  font-weight: 400;
  padding-bottom: 24px;
  padding-left: 24px;
  margin-bottom: 0;
  border-bottom: 1px solid hsla(220deg, 14%, 75%, 0.3);
}
.cart-menu__txt {
  color: hsl(219deg, 9%, 45%);
  font-weight: 200;
}
.cart-menu__txt.hidden {
  display: none;
}
.cart-menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 188px;
}
.cart-menu__content.hidden {
  display: none;
}
.cart-menu__content__active {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  width: 312px;
  height: 52px;
}
.cart-menu__content__active-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
}
.cart-menu__content__active-img img {
  object-fit: cover;
  width: 100%;
}
.cart-menu__content__active-item {
  font-size: 14px;
  color: hsl(219deg, 9%, 45%);
  margin-left: 16px;
  margin-right: 45px;
}
.cart-menu__content__active-details {
  display: flex;
  gap: 0.6rem;
  line-height: 2.1rem;
}
.cart-menu__content__active-details-total {
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}
.cart-menu__content__active-delete {
  width: 14px;
}
.cart-menu__content__active-delete:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cart-menu__content__active-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  width: 312px;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
}
.cart-menu__content__active-btn:hover {
  opacity: 0.7;
  transition: all 0.2s;
}

/* End cart menu toggle */
/* Start section -- carrousel */
.product {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1015px;
  margin-top: 90px;
}
.product__carrousel__img {
  position: relative;
}
.product__carrousel__img .previous {
  left: 4%;
}
.product__carrousel__img .previous:hover {
  left: 3%;
}
.product__carrousel__img .next {
  right: 4%;
}
.product__carrousel__img .next:hover {
  right: 3%;
}
.product__carrousel__img .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.product__carrousel__hero {
  width: 445px;
  height: 445px;
  border-radius: 15px;
  margin-bottom: 32px;
  cursor: pointer;
}
.product__carrousel__thumbnail {
  display: flex;
  justify-content: space-between;
}
.product__carrousel__thumbnail img {
  border-radius: 10px;
  width: 88px;
  border: 3px transparent solid;
  cursor: pointer;
}
.product__carrousel__thumbnail img:hover {
  opacity: 0.5;
}
.product__carrousel__radio {
  position: absolute;
  visibility: hidden;
}
.product__carrousel__radio:checked + img {
  opacity: 0.5;
  border: 3px hsl(26deg, 100%, 55%) solid;
}

/* End section -- carrousel */
/* Start section -- description */
.product__description {
  width: 445px;
  margin: auto 0;
}
.product__description__category {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.5px;
  color: hsl(26deg, 100%, 55%);
}
.product__description__title {
  font-size: 44px;
  font-weight: 400;
  margin-top: 24px;
}
.product__description__p {
  color: hsl(219deg, 9%, 45%);
  line-height: 1.6;
  margin-bottom: 24px;
}
.product__description-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product__description__lower-price {
  font-size: 24px;
  font-weight: 400;
}
.product__description__discount {
  display: inline-block;
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  padding: 3px 9px;
  font-size: 13px;
  border-radius: 6px;
  margin-left: 17px;
}
.product__description__price {
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
  font-size: 13px;
}

.product__btn {
  display: flex;
  margin-top: 28px;
}

.product__button {
  display: flex;
  background-color: hsl(223deg, 64%, 98%);
  border: none;
  border-radius: 8px;
}
.product__button__less-more {
  font-size: 20px;
  font-weight: bold;
  color: hsl(26deg, 100%, 55%);
  cursor: pointer;
}
.product__button__less-more:hover {
  opacity: 0.7;
}
.product__button button, .product__button input {
  border: none;
  background-color: transparent;
  padding: 15px;
  width: fit-content;
}
.product__button__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 272px;
  margin-left: 12px;
  border-radius: 8px;
  border: none;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
  transition: all 0.1s;
}
.product__button__cart:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 8px 41px -16px hsl(26deg, 100%, 55%);
  box-shadow: -1px 8px 41px -16px hsl(26deg, 100%, 55%);
  opacity: 0.7;
}
.product__button__cart img + span {
  margin: 0 10px;
}
.product__button__cart__img {
  width: 16px;
}
.product__button__cart__txt {
  font-size: 16px;
}

/* End section -- description */
/* Start Overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay .btnClose {
  width: 27.5rem;
  text-align: end;
  margin-bottom: 1rem;
}
.overlay .btnClose img {
  cursor: pointer;
  filter: brightness(300);
}
.overlay .product__carrousel {
  max-width: 57rem;
}
.overlay .product__carrousel .next {
  display: flex;
  right: 0;
  transform: translate(50%);
}
.overlay .product__carrousel .next.arrow {
  top: 45%;
}
.overlay .product__carrousel .previous {
  display: flex;
  left: 0;
  transform: translate(-50%);
}
.overlay .product__carrousel .previous.arrow {
  top: 46%;
}
.overlay.hidden {
  display: none;
}

/* End Overlay */
/* Start mobile breakpoints */
@media all and (max-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0;
  }

  /* NAV BAR MOBILE */
  /* Start nav-bar */
  .nav {
    height: 4.25rem;
    padding-bottom: 2px;
  }
  .nav__content {
    width: 100%;
  }
  .nav__mobile-menu {
    display: flex;
    margin: 24px;
    transform: scale(1.1);
  }
  .nav__img {
    transform: scale(1.1);
  }
  .nav li {
    display: none;
  }
  .nav__end__cart {
    transform: scale(1);
  }
  .nav__end__avatar {
    transform: scale(0.5);
  }
  .nav__end__avatar img {
    margin-left: 0;
    margin: 10px;
  }

  /* End nav-bar */
  /* Start cart menu toggle */
  .cart-menu {
    left: 40px;
    top: 85px;
    z-index: 1;
  }
  .cart-menu__title {
    font-weight: 600;
  }
  .cart-menu__txt {
    font-weight: 500;
  }

  /* End cart menu toggle */
  /* IMAGE PRODUCT */
  /* Start section -- carrousel */
  .product {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-top: 0;
  }
  .product__carrousel__thumbnail {
    display: none;
  }
  .product__carrousel__hero {
    border-radius: 0;
  }
  .product .arrow {
    display: flex;
  }

  /* End section -- carrousel */
  /* Start section -- description */
  .product__description {
    width: 375px;
    margin: 0px 20px 88px 20px;
  }
  .product__description__category {
    font-weight: 600;
  }
  .product__description__title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
  }
  .product__description__div {
    display: flex;
    justify-content: space-between;
  }
  .product__description-div {
    align-items: flex-start;
    width: fit-content;
  }
  .product__description__lower-price {
    font-size: 28px;
    font-weight: 700;
  }
  .product__description__discount {
    transform: scale(1.2);
    font-weight: 600;
    padding: 2px 7px;
  }
  .product__description__price {
    font-size: 16px;
  }
  .product__description .product__btn {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
  }
  .product__description .product__button {
    width: 100%;
    justify-content: space-between;
  }
  .product__description .product__button__less-more {
    font-size: 26px;
  }
  .product__description .product__button__number {
    font-size: 18px;
    font-weight: 600;
  }
  .product__description .product__button__cart {
    width: 100%;
    margin-left: 0;
  }
  .product__description .product__button__cart__img {
    width: 19px;
  }
  .product__description .product__button__cart__txt {
    font-size: 18px;
    font-weight: 600;
  }

  /* DESCRIPTION PRODUCT */
}

/*# sourceMappingURL=style.css.map */
