@use 'variables' as *;
@use 'breakpoints' as *;

// PAGE

@use 'reset';
@use 'header';
@use 'main';
@use 'overlay';


/* TABLET */

@include tablet{

    .product{

        flex-direction: column;
        align-items: center;
        gap: 3.125rem;
    }

    .product__description{

        margin-bottom: 5.625rem;
    }
}

/* TABLET MINI */

@include tablet-mini{

    .container{

        width: 100%;
    }

    .nav{

        margin: 0 2.5rem;

    
        &__mobile-menu{

            display: flex;
            margin: 1.5rem;
            transform: scale(1.1); 
        }

        &__img{

            transform: scale(1.1);
        }

        li{

            display: none;
        }
    }

    .cart-menu{

        right: 2%;
    }
}


/* MOBILE */

/* Start mobile breakpoints */

@include mobile{


    .container{

        width: 100%;
        min-width: 16.563rem;
        margin: 0;
    }

    main{

        width: 90%;
    }

    /* NAV BAR MOBILE */

    /* Start nav-bar */

    .nav{

        margin: 0;
        height: 4.25rem;
        padding-bottom: 0.125rem;
        

        &__content{

            width: 100%;
        }

        &__mobile-menu{

            display: flex;
            margin: 1.5rem;
            transform: scale(1.1); 
        }

        &__img{

            transform: scale(1.1);
        }

        li{

            display: none;
        }

        &__end{


            &__cart{

                transform: scale(1);
            }

            &__avatar{

                transform: scale(0.5);
                
                & img {

                    margin-left: 0;
                    margin: 0.625rem;
                }
            }
        }
    }

    /* End nav-bar */
    /* Start cart menu toggle */

    .cart-menu{

        left: 0;
        right: 0;
        top: 5.313rem;
        margin: 0 auto;
        z-index: 1;
       
        &__title{

            font-weight: 600;
        }

        &__txt{

            font-weight: 500;
        }
    }

    /* End cart menu toggle */

    /* PRODUCT */

    /* Start section -- carrousel */

    .product{

        flex-direction: column;
        align-items: center;
        height: max-content;
        margin-top: 0;
        gap: 0;

        &__carrousel{

            width: 100vw;

            &__thumbnail{

                display: none;
            }

            &__hero{

               border-radius: 0;
               width: 100%;
               height: auto;
            }
        }

        .arrow{

            display: flex;
        }
    }

    /* End section -- carrousel */
    /* Start section -- description */

    .product__description{

        width: 100%;
        margin-bottom: 5.5rem;

        &__category{

            font-weight: 600;
        }

        &__title{

            font-size: 1.75rem;
            font-weight: 700;
            margin-top: 1rem;
        }

        &__div{

            display: flex;
            justify-content: space-between;
        }

        &-div{

            align-items: flex-start;
            width: fit-content;
        }

        &__lower-price{

            font-size: 1.75rem;
            font-weight: 700;
        }

        &__discount{

            transform: scale(1.2);
            font-weight: 600;
            padding: 0.125rem 0.438rem;
        }

        &__price{
  
           font-size: 1rem;
        }

    .product__btn{

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 8.125rem;
    }

    .product__button{

        width: 100%;
        justify-content: space-between;

        &__less-more{

            font-size: 1.625rem;
        }

        &__number{

            font-size: 1.125rem;
            font-weight: 600;
        }
    }

    .product__button__cart{

        width: 100%;
        margin-left: 0;

        &__img{

            width: 1.188rem;
        }

        &__txt{

            font-size: 1.125rem;
            font-weight: 600;
        }
    }
    }
    

    /* End section -- description */

  }




