@use 'variables' as *;
@use 'breakpoints' as *;

// PAGE

@use 'reset';
@use 'header';
@use 'main';
@use 'overlay';

// MOBILE

/* Start mobile breakpoints */

@include mobile{


    .container{

        width: 100%;
        min-width: 265px;
        margin: 0;
    }

    /* NAV BAR MOBILE */

    /* Start nav-bar */

    .nav{

        height: 4.25rem;
        padding-bottom: 2px;
        

        &__content{

            width: 100%;
        }

        &__mobile-menu{

            display: flex;
            margin: 24px;
            transform: scale(1.1); 
        }

        &__img{

            transform: scale(1.1);
        }

        li{

            display: none;
        }

        &__end{


            &__cart{

                transform: scale(1);
            }

            &__avatar{

                transform: scale(0.5);
                
                & img {

                    margin-left: 0;
                    margin: 10px;
                }
            }
        }
    }

    /* End nav-bar */
    /* Start cart menu toggle */

    .cart-menu{

        left: 40px;
        top:85px;
        z-index: 1;

        &__title{

            font-weight: 600;
        }

        &__txt{

            font-weight: 500;
        }
    }

    /* End cart menu toggle */

    /* PRODUCT */

    /* Start section -- carrousel */

    .product{

        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: max-content;
        margin-top: 0;

        &__carrousel{

            width: 100vw;

            &__thumbnail{

                display: none;
            }

            &__hero{

               border-radius: 0;
               width: 100%;
               height: auto;
            }
        }

        .arrow{

            display: flex;
        }
    }

    /* End section -- carrousel */
    /* Start section -- description */

    .product__description{

        width: 80%;
        margin-bottom: 88px;

        &__category{

            font-weight: 600;
        }

        &__title{

            font-size: 28px;
            font-weight: 700;
            margin-top: 16px;
        }

        &__div{

            display: flex;
            justify-content: space-between;
        }

        &-div{

            align-items: flex-start;
            width: fit-content;
        }

        &__lower-price{

            font-size: 28px;
            font-weight: 700;
        }

        &__discount{

            transform: scale(1.2);
            font-weight: 600;
            padding: 2px 7px;
        }

        &__price{
  
           font-size: 16px;
        }

    .product__btn{

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 130px;
    }

    .product__button{

        width: 100%;
        justify-content: space-between;

        &__less-more{

            font-size: 26px;
        }

        &__number{

            font-size: 18px;
            font-weight: 600;
        }
    }

    .product__button__cart{

        width: 100%;
        margin-left: 0;

        &__img{

            width: 19px;
        }

        &__txt{

            font-size: 18px;
            font-weight: 600;
        }
    }
    }
    

    /* End section -- description */

    /* MOBILE MENU OVERLAY */

    .mobileNav{

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        background-color: $black-opacity;

        &.hidden{

            display: none;
        }
        

        &__sidebar{

            width:70%;
            min-height: 100%;
            background-color: $white;
        }

        &__close{

            // margin-top: 24px;
            // margin-left: 24px;
            margin: 24px 0px 35px 24px;
            
        }

        &__menu{

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style-type: none;
            height: 200px;
            padding-left: 24px;
        }

        &__link{

            text-decoration: none;
            color: $black;
            font-weight: 600;
            font-size: 18px;

        }

    }


    




  }




